<nav class="fixed top-0 w-full bg-gray-800">
  <div class="lg-px-8 mx-auto min-w-[250px] max-w-6xl px-2 sm:px-6">
    <div class="relative flex h-20 items-center justify-between">
      <div class="absolute inset-y-0 left-1 flex items-center sm:hidden">
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-slate-100"
          (click)="toggleNavDropdown()"
        >
          <svg
            class="block h-8 w-8 fill-none stroke-slate-300 stroke-[1.5]"
            viewBox="0 0 24 24"
            aria-hidden="true"
            *ngIf="!navDropdown"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            class="block h-8 w-8 fill-none stroke-slate-300 stroke-[1.5]"
            viewBox="0 0 24 24"
            aria-hidden="true"
            *ngIf="navDropdown"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div
        class="flex flex-1 flex-wrap items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
        >
          <div class="flex flex-shrink-0 items-center">
            <img
              class="h-12 w-12"
              src="assets/images/recipe-book.png"
              alt="Recipe book"
            />
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a
                class="nav-item"
                routerLink="/recipes"
                routerLinkActive="active"
                *ngIf="isAuthenticated"
              >
                Recipes
              </a>
              <a
                class="nav-item"
                routerLink="/auth"
                routerLinkActive="active"
                *ngIf="!isAuthenticated"
              >
                Authenticate
              </a>
              <a
                class="nav-item"
                routerLink="/shopping-list"
                routerLinkActive="active"
              >
                Shopping List
              </a>
            </div>
          </div>
        </div>
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <div class="relative ml-3" *ngIf="isAuthenticated">
            <button
              type="button"
              class="relative flex scale-125 rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              (click)="toggleUserDropdown()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-6 w-6 fill-none stroke-white stroke-[1.5]"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                />
              </svg>
            </button>
          </div>

          <app-user-dropdown
            *ngIf="isAuthenticated && userDropdown"
            (closeDropdown)="toggleUserDropdown()"
          ></app-user-dropdown>
        </div>
      </div>
    </div>
    <app-nav-dropdown
      *ngIf="navDropdown"
      [isAuthenticated]="isAuthenticated"
    ></app-nav-dropdown>
  </div>
</nav>
