<ng-template appPlaceholder></ng-template>
<div class="flex w-full justify-center">
  <div
    *ngIf="isLoading"
    class="flex h-[50vh] w-full items-center justify-center"
  >
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div
    class="bg-slate-550 mt-10 w-80 min-w-[250px] rounded-md px-8 py-6 shadow-md"
    *ngIf="!isLoading"
  >
    <div class="h-full">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="email" class="block text-base font-bold">Email</label>
          <input
            type="text"
            class="w-full"
            id="email"
            formControlName="email"
          />
        </div>
        <div class="mb-4">
          <label for="password" class="block text-base font-bold"
            >Password</label
          >
          <input
            type="password"
            class="w-full"
            id="password"
            minlength="6"
            formControlName="password"
          />
        </div>
        <div class="flex w-full flex-wrap justify-between">
          <button
            class="btn flex-grow"
            type="submit"
            [disabled]="authForm.invalid"
          >
            {{ isLoginMode ? "Login" : "Sign up" }}
          </button>
          <button
            class="btn btn-transparent flex-grow"
            (click)="switchMode()"
            type="button"
          >
            Switch to {{ !isLoginMode ? "Login" : "Sign up" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
