<div class="w-4/5 min-w-[320px] rounded-xl bg-slate-550 px-8 py-6 shadow-md">
  <form #f="ngForm" (ngSubmit)="submitForm(f)">
    <div class="">
      <div class="mb-4">
        <label for="name" class="block text-base font-bold">Name</label>
        <input
          type="text"
          id="name"
          class="w-full"
          name="name"
          ngModel
          required
        />
      </div>
      <div class="mb-4">
        <label for="amount" class="block text-base font-bold">Amount</label>
        <input
          min="0"
          type="number"
          id="amount"
          class="w-full"
          name="amount"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
        />
      </div>
    </div>
    <div class="flex w-full justify-center">
      <div class="flex w-5/6 flex-wrap">
        <button class="btn flex-grow" type="submit" [disabled]="!f.valid">
          {{ editMode ? "Update" : "Add" }}
        </button>
        <button
          class="btn btn-red flex-grow"
          type="button"
          (click)="deleteIngredient()"
          [disabled]="!editMode"
        >
          Delete
        </button>
        <button
          class="btn btn-transparent flex-grow"
          type="button"
          (click)="clearForm()"
        >
          Clear
        </button>
      </div>
    </div>
  </form>
</div>
